body{
    font-family: 'Roboto', sans-serif;
}
#flex-item{
    display: flex;
}
.top-section{
    margin-top: 80px;
    margin-left: 7%;
    margin-right: 3%;
    margin-bottom: 50px;
}
.half-width{
    width: 45%;
}
h1{
    font-size: 60px;
    color: #575757;
    margin-top: 150px;
}
.orange-color{
    color: #FB934A;
}
.top-section p{
    color: #8F8F8F;
    font-size: 20px;
    padding-bottom: 30px;
}
.orange-button{
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 20px 40px;
    background-image: linear-gradient(rgba(251, 162, 79, 1), rgba(255, 30, 30, 1));
    border-radius: 30px;
}
.about-section{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
.about-section img{
    width: 70%;
    margin-top: 60px;
    margin-left: 50px;
    
}
.about-section .half-width{
    width: 35%;
    margin-left: 10%;
}
h2{
    color: #707070;
    font-size: 40px;
    margin-top: 120px;
}
.about-section p{
    font-size: 20px;
    padding-right: 50px;
    padding-bottom: 80px;
}
.food-section{
    margin-bottom: 100px;
}
.food-section h2{
    color: #707070;
    text-align: center;
}
.food-section h3{
    font-size: 25px;
}
.food-peragraph{
    margin-left: 25%;
    margin-right: 25%;
    font-size: 20px;
    text-align: center;
}
.food{
    margin: 3% 5% 2% 5%;
}
.food-item{
    margin-left: 25px;
    margin-right: 25px;
    box-shadow: 10px 10px 30px gray;
    border: 20px white solid;
    border-radius: 30px;
}
.food-item p{
    font-size: 20px;
}
.food-item img{
    width: 100%;
}
.contact-section{
    text-align: center;
    padding-bottom: 50px;
}
.contact-item{
    width: 33.3%;
}
.contact-item img{
    width: 10%;
}
footer{
    padding: 20px 0px 90px 0px;
    width: 100%;
    background-color: #0B0D17;
}
footer .container{
    text-align: center;
}
footer h3{
    font-size: 30px;
    color: #575757;
}
footer p{
    color: #86878C;
    font-size: 20px;
}